[submodule "third_party/sol2"]
	path = third_party/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "third_party/lua"]
	path = third_party/lua
	url = https://github.com/lua/lua.git
[submodule "third_party/ocgcore"]
	path = third_party/ocgcore
	url = https://github.com/touhoufan2024/ygopro-core.git
